1. Como se comportaram o preço dos combustíveis durante os dois meses citados? Os valores do etanol e da gasolina tiveram uma tendência de queda ou diminuição?
2. Qual o preço médio da gasolina e do etanol nesses dois meses?
3. Quais os 5 estados com o preço médio da gasolina e do etanol mais caros?
4. Qual o preço médio da gasolina e do etanol por estado?
5. Qual o município que possui o menor preço para a gasolina e para o etanol?
6. Qual o município que possui o maior preço para a gasolina e para o etanol?
7. Qual a região que possui o maior valor médio da gasolina?
8. Qual a região que possui o menor valor médio do etanol?
9. Há alguma correlação entre o valor do combustível (gasolina e etanol) e a região onde ele é vendido?
10. Há alguma correlação entre o valor do combustível (gasolina e etanol) e a bandeira que vende ele?

In [21]:
import numpy as np
import pandas as pd
from datetime import date

In [2]:
df01_202305 = pd.read_csv('precos-gasolina-etanol-05.csv', sep=';')

In [3]:
df01_202306 = pd.read_csv('precos-gasolina-etanol-06.csv', sep=';')

In [4]:
# vendo o tamando do DataFrame (número de linhas e colunas
df01_202305.shape

(58490, 16)

In [5]:
# vendo o tamando do DataFrame (número de linhas e colunas
df01_202306.shape

(49041, 16)

df_row_reindex = pd.concat([df1, df2], ignore_index=True)

df_row_reindex

In [7]:
# juntando os meses de maio e junho e ignorando o index
df03_concat_reindex = pd.concat([df01_202305,df01_202306], ignore_index=True)

In [8]:
df03_concat_reindex.shape

(107531, 16)

In [9]:
58490+49041

107531

In [10]:
df03_concat_reindex.columns

Index(['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Revenda',
       'CNPJ da Revenda', 'Nome da Rua', 'Numero Rua', 'Complemento', 'Bairro',
       'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda', 'Valor de Compra',
       'Unidade de Medida', 'Bandeira'],
      dtype='object')

In [14]:
df04_columns_interesse = df03_concat_reindex[['Regiao - Sigla','Estado - Sigla',
                                           'Municipio','Produto','Data da Coleta',
                                           'Valor de Venda','Valor de Compra',
                                           'Unidade de Medida','Bandeira']]

In [15]:
df04_columns_interesse.shape

(107531, 9)

In [16]:
df04_columns_interesse.head(5)

,Regiao - Sigla,Estado - Sigla,Municipio,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,SOROCABA,ETANOL,01/05/2023,"3,79",NaN,R$ / litro,BRANCA
1,SE,SP,SOROCABA,GASOLINA,01/05/2023,"4,69",NaN,R$ / litro,BRANCA
2,N,AC,CRUZEIRO DO SUL,ETANOL,01/05/2023,"5,49",NaN,R$ / litro,IPIRANGA
3,N,AC,CRUZEIRO DO SUL,GASOLINA ADITIVADA,01/05/2023,"6,97",NaN,R$ / litro,IPIRANGA
4,N,AC,CRUZEIRO DO SUL,GASOLINA,01/05/2023,"6,97",NaN,R$ / litro,IPIRANGA

import datetime
from datetime import date
df["DT_NASC"] = pd.to_datetime(df["DT_NASC"], errors='coerce').dt.strftime("%d/%m/%Y")

In [20]:
# Passando data da coleta como index do DataFrame, antes verificando o tipo da coluna
df04_columns_interesse['Data da Coleta'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 107531 entries, 0 to 107530
Series name: Data da Coleta
Non-Null Count   Dtype
--------------   -----
107531 non-null  object
dtypes: object(1)
memory usage: 840.2+ KB

In [24]:
# modificando coluna Data da Coleta para date
df04_columns_interesse['Data da Coleta']=pd.to_datetime(
    df04_columns_interesse['Data da Coleta'], errors='coerce')

/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '22/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '23/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '24/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '25/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '26/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '29/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '30/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '31/05/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '20/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '21/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '22/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '23/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '26/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '27/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '28/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '29/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/mic/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '30/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/tmp/ipykernel_73212/346916239.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_columns_interesse['Data da Coleta']=pd.to_datetime(

In [25]:
df04_columns_interesse['Data da Coleta'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 107531 entries, 0 to 107530
Series name: Data da Coleta
Non-Null Count   Dtype
--------------   -----
107531 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 840.2 KB

In [27]:
# Agora modificando o index para o valor da Data da coleta
df04_columns_interesse.index = df04_columns_interesse['Data da Coleta']

In [29]:
df04_columns_interesse.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
Data da Coleta,,,,,,,,,
2023-01-05,SE,SP,SOROCABA,ETANOL,2023-01-05,"3,79",NaN,R$ / litro,BRANCA
2023-01-05,SE,SP,SOROCABA,GASOLINA,2023-01-05,"4,69",NaN,R$ / litro,BRANCA
2023-01-05,N,AC,CRUZEIRO DO SUL,ETANOL,2023-01-05,"5,49",NaN,R$ / litro,IPIRANGA
2023-01-05,N,AC,CRUZEIRO DO SUL,GASOLINA ADITIVADA,2023-01-05,"6,97",NaN,R$ / litro,IPIRANGA
2023-01-05,N,AC,CRUZEIRO DO SUL,GASOLINA,2023-01-05,"6,97",NaN,R$ / litro,IPIRANGA

In [30]:
df04_columns_interesse.tail()

,Regiao - Sigla,Estado - Sigla,Municipio,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
Data da Coleta,,,,,,,,,
2023-06-30,NE,BA,CAMACARI,GASOLINA,2023-06-30,"5,64",NaN,R$ / litro,BRANCA
2023-06-30,NE,BA,CAMACARI,ETANOL,2023-06-30,"4,44",NaN,R$ / litro,BRANCA
2023-06-30,NE,BA,CAMACARI,GASOLINA ADITIVADA,2023-06-30,"5,64",NaN,R$ / litro,BRANCA
2023-06-30,NE,BA,CAMACARI,GASOLINA,2023-06-30,"5,64",NaN,R$ / litro,BRANCA
2023-06-30,NE,BA,CAMACARI,GASOLINA,2023-06-30,6,NaN,R$ / litro,IPIRANGA

1. Como se comportaram o preço dos combustíveis durante os dois meses citados? Os valores do etanol e da gasolina tiveram uma tendência de queda ou diminuição?

In [31]:
df04_columns_interesse.columns

Index(['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Produto',
       'Data da Coleta', 'Valor de Venda', 'Valor de Compra',
       'Unidade de Medida', 'Bandeira'],
      dtype='object')

In [38]:
# Para a primeira pergunta a variável (coluna) que interessa é a de venda e produto.
# Como temos dois produtos diferentes, precismaos separa-los do Dataframe.
gasolina = df04_columns_interesse[df04_columns_interesse['Produto']=='GASOLINA']

In [39]:
gasolina.shape

(40948, 9)

In [42]:
etanol=df04_columns_interesse[df04_columns_interesse['Produto']=='ETANOL']

In [44]:
etanol.shape

(34935, 9)

In [45]:
# verificando se o total de linhas bate com o original 107531. Temos um problema?
40948+34935

75883

In [46]:
df04_columns_interesse.shape

(107531, 9)

In [52]:
#Verificando os tipos de dados que temos em produto
df04_columns_interesse['Produto'].unique()

array(['ETANOL', 'GASOLINA', 'GASOLINA ADITIVADA'], dtype=object)

In [58]:
df04_columns_interesse[df04_columns_interesse['Produto']=='GASOLINA ADITIVADA'].count()

Regiao - Sigla       31648
Estado - Sigla       31648
Municipio            31648
Produto              31648
Data da Coleta       31648
Valor de Venda       31648
Valor de Compra          0
Unidade de Medida    31648
Bandeira             31648
dtype: int64

In [59]:
df04_columns_interesse[df04_columns_interesse['Produto']=='ETANOL'].count()

Regiao - Sigla       34935
Estado - Sigla       34935
Municipio            34935
Produto              34935
Data da Coleta       34935
Valor de Venda       34935
Valor de Compra          0
Unidade de Medida    34935
Bandeira             34935
dtype: int64

In [60]:
df04_columns_interesse[df04_columns_interesse['Produto']=='GASOLINA'].count()

Regiao - Sigla       40948
Estado - Sigla       40948
Municipio            40948
Produto              40948
Data da Coleta       40948
Valor de Venda       40948
Valor de Compra          0
Unidade de Medida    40948
Bandeira             40948
dtype: int64